<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign education = data[1] | sort: 'startDate' | reverse %}
  {% for content in education %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="min-width: 100px;">
          {% if content.startDate and content.startDate != '' %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' – ' %}
            {% assign date = date | append: endDate %}
          {% else %}
            {% assign date = null %}
          {% endif %}
          {% if date %}
          <span class="badge align-middle"> {{ date }} </span>
          {% endif %}
          {% if content.location %}
          <p class="location" style="margin-top: 0.2rem;"><i class="fa-solid fa-location-dot iconlocation"></i> {{ content.location }}</p>
          {% endif %}
        </div>
        <div class="col mt-2 mt-md-0">
          <h6 class="title font-weight-bold">
            {% if content.url and content.url != "" %}<a href="{{ content.url }}">{{ content.studyType }}</a>{% else %}{{ content.studyType }}{% endif %}
          </h6>
          <h6>{{ content.institution }}{% if content.area and content.area != "" %} · <em>{{ content.area }}</em>{% endif %}</h6>
          {% if content.courses.size > 0 %}
          <ul class="items">
            {% for item in content.courses %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
